<template>
  <router-view />
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'App'
})
</script>

<style>
body{
  margin: 0;
  background-color: rgb(247, 239, 239);
}
</style>
