// DashBoard CSS
.side-panel {
  background-color: white;
  width: 80px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
}

.cols {
  margin-right: 10px; /* Adjust this value to add space between columns */
  border: 1px black;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.7s;
  width: 190px;
  height: 200px;
}

.cols:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.router-link {
  text-decoration: none;
  color: inherit;
}

.allCards {
  display: flex;
  justify-content: center;
}

.side-panel .diamond-icon,
.side-panel .home-icon {
  position: relative;
}

.diamond-icon {
  top: 40px;
}

.home-icon {
  top: 450px;
}
.menu-icon {
  position: relative;
}

.menu-icons {
  margin-bottom: 1px;
  margin-right: 10px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 490px;
  justify-content: center;
  left: 35%;
}

.card-header {
  font-size: 24px;
  font-weight: 700;
}

.title-dashboard {
  font-size: 24px;
  font-weight: 700;
  color: #249990;
  margin-top: 0;
  margin-bottom: -10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  margin-left: 30px;
}

.menu-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Source Sans Pro";
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #212121;
}
.search-bar {
  width: 300px;
}

.desc {
  font-size: 9px;
  font-weight: 400;
}
.main {
  display: flex;
}
.search {
  width: 600px;
  border: 1px #3b3b3b;
}

.content {
  display: flex;
  flex-direction: column;
}

.menu-card-container {
  display: flex;
  margin-top: 30px;
  margin-left: 24px;
  width: 1200px;
}

.status > * {
  margin-right: 20px;
  cursor: pointer;
}

.search-menu {
  display: flex;
  margin-left: 24px;
  margin-top: 32px;
  justify-content: space-between;
}

.menu {
  background-color: white;
  width: 360px;
  border-radius: 5px;
  height: 75vh;
}

.menu .span {
  padding-top: 6%;
  padding-left: 5%;
  font-size: 20px;
  font-weight: 700;
}

ul {
  list-style: none;
  margin-left: -40px;
}

li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  transition: 0.6s;
  cursor: pointer;
}

li:hover {
  background-color: #ebebeb;
}

.container {
  background-color: white;
  width: 100%;
  height: 75vh;
  margin-left: 24px;
  border-radius: 5px;
  overflow-x: auto;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .side-panel {
    width: 20%;
  }
  .search-bar {
    width: 60%;
  }
}
