// Form Page CSS

.Formheader {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .Formheader p {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 0;
    margin-left: 7px;
    color: #249990;
  }
  
  .Formheader .icon-back {
    cursor: pointer;
    transition: 0.6s;
    padding: 1px;
    color: black;
  }
  
  .Formheader .icon-back:hover {
    background-color: #708090;
    border-radius: 15px;
  }
  
  .subFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .formContainer {
    width: 500px;
  }
  
  q-form q-input {
    margin-bottom: 10px;
  }
  
  .label-input-container {
    display: flex;
    flex-direction: column;
  }
  
  .formButton {
    margin-bottom: 50px;
  }