// Table Page CSS

h6 {
    color: rgba(36, 153, 144, 1);
    font-weight: 700;
    font-size: 24px;
    margin: 15px 10px;
  }
  
  .addEmployeeBtn {
    width: 145px;
    height: 32px;
    border-radius: 16px;
    transition: 0.6s;
  }
  .addEmployeeBtn:hover {
    background-color: rgba(36, 153, 144, 1);
    color: white;
  }
  
  .searchTable {
    width: 174px;
    border: 1px #708090;
    border-radius: 20px;
    height: 37px;
  }
  
  .table thead th {
    background-color: #249990;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #ebebeb;
  }
  
  .headerTable {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .btnInputTable {
    display: flex;
    align-items: center;
  }
  
  .addEmployeeBtn {
    margin-right: 30px;
  }
  
  .subHeader {
    display: flex;
    align-items: left;
    margin-bottom: 30px;
    gap: 20px;
  }
  
  .address-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .address-icon {
    cursor: pointer;
    transition: 0.6s;
    padding: 5px;
    border-radius: 15px;
  }
  
  .address-icon:hover {
    background-color: #ebebeb;
  }
  
  p {
    margin-left: 32px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    line-height: 17px;
  }
  
  .tableBack {
    display: flex;
  }
  
  .icon-table {
    margin-top: 18px;
    cursor: pointer;
    transition: 0.6s;
    padding: 1px;
    color: black;
  }
  
  .icon-table:hover {
    background-color: #708090;
    border-radius: 15px;
  }
  
  .action-buttons {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 45px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .action-buttons > * {
    margin-bottom: 8px;
  }