<template>
  <q-layout view="lHh Lpr lFf">
  <div class="main">
    <div class="side-panel">
      <q-icon name="diamond" color="black" class="diamond-icon" size="40px" />
      <q-icon name="home" color="black" class="home-icon" size="40px" />
      <div class="menu-container">
        <q-icon name="menu" color="black" class="menu-icon" size="40px" />
        <span class="menu-text">Menu</span>
      </div>
    </div>
    <div class="search-bar">
      <q-input placeholder="search filter" outlined v-model="text" class="search">
        <template v-slot:prepend>
          <q-icon name="search"  />
        </template>
      </q-input>

      <div class="menu">
        <p class="span">Menu</p>
        <ul>
          <li>Menu 1</li>
          <li>Menu 1</li>
          <li>Menu 1</li>
        </ul>
      </div>
    </div>
  </div>
  <q-page-container>
    <router-view />
   </q-page-container>
  </q-layout>
</template>

<script>
// Your script logic goes here
</script>

<style scoped>
.side-panel {
  background-color: white;
  width: 6%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 50px;
}


.side-panel .diamond-icon,
.side-panel .home-icon {
  position: relative;
  left: 25%;
}
.diamond-icon{
  top: 20px;
}

.home-icon{
  top: 670px;
}
.menu-icon{
  position: relative;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 700px;
  justify-content: center;
  top: 80%;
  left: 35%;
}

.menu-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro';
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  color: #212121;
}
.search-bar{
  margin-top: 20px;
  width: 40%;
  height: 50%;
}
.main{
  display: flex;
}
.search{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  margin-left: 24px;
  border: 1px #3B3B3B;
}

.menu{
  background-color: white;
  width: 360px;
  margin-left: 24px;
  border-radius: 5px;
  height: 78vh;
  margin-top: 5%;

}

.menu .span{
  padding-top: 6%;
  padding-left: 5%;
  font-size: 20px;
  font-weight: 700;
}

ul {
  list-style: none;
  margin-left: -40px;
}

li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  transition: 0.6s;
  cursor: pointer;
}

li:hover{
  background-color: #EBEBEB;
}

@media screen and (max-width: 600px) {
  .side-panel {
    width: 20%;
  }
  .search-bar{
    width: 60%;
  }
}
</style>
