<template>
  <transition appear enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" :duration="2000">
    <div class="dashboard">
<!-- Place your elements here -->
    <q-layout view="lHh Lpr lFf">
  <div class="main">
    <div class="side-panel">
      <q-icon name="diamond" color="black" class="diamond-icon" size="40px" />
      <q-icon name="home" color="black" class="home-icon" size="40px" />
      <div class="menu-container">
        <q-icon name="menu" color="black" class="menu-icon" size="40px" />
        <span class="menu-text">Menu</span>
      </div>
    </div>

    <div class="content">
    <div class="search-menu">
    <div class="search-bar">
      <q-input placeholder="Search Filter" outlined class="search">
        <template v-slot:prepend>
          <q-icon name="search"  />
        </template>
      </q-input>
    </div>
    <div class="status">
     <q-icon name="notifications" color="black" size="32px" class="notification" />
     <q-icon name="circle" color="black" size="48px" />
     </div>
    </div>

     <div class="menu-card-container">
     <div class="menu">
        <p class="span">Menu</p>
        <ul>
          <li><q-icon name="account_balance" class="menu-icons" color="black" size="16px" />Menu 1</li>
          <li><q-icon name="groups" color="black" class="menu-icons" size="16px" />Menu 2</li>
          <li><q-icon name="legend_toggle" class="menu-icons" color="black" size="16px" />Menu 3</li>
        </ul>
      </div>
    
    <q-page-container class="container">
    <div class="card" v-if="showDashboard">
    <h1 class="title-dashboard">Dashboard</h1>
    <div class="allCards">
    <q-container class="q-pa-md row-vertical-alignment">
    <div class="row items-start">
    <q-card class="cols">
      <q-card-section>
        <div class="card-header">Dashboard Page</div>
      </q-card-section>
      <q-card-section class="desc">
        Description
      </q-card-section>
    </q-card>

    <q-card class="cols">
    <router-link to="my-table" @click="toggledashboard" class="router-link">
      <q-card-section>
        <div class="card-header">Table Page</div>
      </q-card-section>
      <q-card-section class="desc">
        Description
      </q-card-section>
    </router-link>
    </q-card>

    <q-card class="cols">
      <q-card-section>
        <div class="card-header">Card 3</div>
      </q-card-section>
      <q-card-section class="desc">
        Description
      </q-card-section>
    </q-card>

    <q-card class="cols">
      <q-card-section>
        <div class="card-header">Card 4</div>
      </q-card-section>
      <q-card-section class="desc">
        Description
      </q-card-section>
    </q-card>
    </div>
    </q-container>
    </div>
    </div>
    <router-view v-else></router-view> 
  </q-page-container>
  </div>
  </div>
  </div>
  </q-layout>
</div>
  </transition>
</template>
<style lang="scss" scope>
@import "./styles/dashboard.scss";
</style>
<script src="./scripts/Dashboard.js"></script>
