<template>
  <div class="mainContainerForm">
    <div class="Formheader">
      <router-link to="my-table">
        <q-icon name="arrow_back" size="28px" class="icon-back" />
      </router-link>
      <p>Staff Profile Details</p>
    </div>
    <div class="subFormContainer">
      <div class="formContainer">
        <q-form class="q-gutter-md" @submit="submitForm">
          <div class="label-input-container">
            <label class="label" style="margin-top: 5px">Name:</label>
            <q-input
              outlined
              v-model="formData.name"
              color="primary"
              lazy-rules
            />
          </div>

          <div class="label-input-container">
            <label for="EmployeeID" class="label">Employee ID:</label>
            <q-input outlined v-model="formData.EmployeeID" lazy-rules />
          </div>

          <div class="label-input-container">
            <label for="Email" class="label">Email:</label>
            <q-input outlined v-model="formData.email" lazy-rules />
          </div>

          <div class="label-input-container">
            <label for="CurrentTask" class="label">Current Task:</label>
            <q-input outlined v-model="formData.currentTask" lazy-rules />
          </div>

          <div class="label-input-container">
            <label for="description" class="label">Description:</label>
            <q-input
              outlined
              v-model="formData.description"
              type="textarea"
              rows="5"
            />
          </div>

          <div class="label-input-container">
            <label for="status" class="label">Status:</label>
            <q-input outlined v-model="formData.status" lazy-rules />
          </div>

          <div class="label-input-container">
            <label for="address" class="label">House Address:</label>
            <q-input outlined v-model="formData.address" lazy-rules />
          </div>

          <div class="formButton">
            <q-btn label="Save Changes" type="submit" color="primary" />

            <q-btn
              label="Reset"
              type="reset"
              color="primary"
              flat
              class="q-ml-sm"
              @click="clearForm"
            />
          </div>
        </q-form>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scope>
@import "./styles/form.scss";
</style>
<script src="./scripts/form.js"></script>
