<template>
  <div class="q-pa-md">
    <header class="headerTable">
      <div class="tableBack">
        <router-link to="/">
          <q-icon name="arrow_back" size="28px" class="icon-table" />
        </router-link>
        <h6>Employee List</h6>
      </div>
      <div class="btnInputTable">
        <router-link to="my-form">
          <q-btn
            outline
            color="primary"
            label="Add Employee"
            class="addEmployeeBtn"
            size="sm"
          />
        </router-link>
        <q-btn
          outline
          color="primary"
          label="Download"
          class="addEmployeeBtn"
          size="sm"
          @click="downloadPdf"
        />
        <q-input
          rounded
          standout
          outlined
          color="primary"
          v-model="text"
          placeholder="Search"
          class="searchTable"
          dense
        >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>
    </header>

    <div class="subHeader">
      <p>Filters:</p>
      <q-select
        rounded
        standout
        outlined
        dense
        use-input
        hide-selected
        fill-input
        :options="options"
        input-debounce="0"
        style="width: 180px"
        placeholder="All"
      >
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey"> No results </q-item-section>
          </q-item>
          <q-item>
            <q-item-section class="text-grey"> No results </q-item-section>
          </q-item>
        </template>
      </q-select>

      <q-input
        outlined
        rounded
        standout
        color="primary"
        style="width: 184px; margin-top: 0"
        placeholder="Select"
        dense
      >
        <q-popup-proxy
          @before-show="updateProxy"
          cover
          transition-show="scale"
          transition-hide="scale"
        >
          <q-date v-model="proxyDate">
            <div class="row items-center justify-end q-gutter-sm">
              <q-btn label="Cancel" color="primary" flat v-close-popup />
              <q-btn
                label="OK"
                color="primary"
                flat
                @click="save"
                v-close-popup
              />
            </div>
          </q-date>
        </q-popup-proxy>
        <template v-slot:append>
          <q-icon name="event" size="16px" />
        </template>
      </q-input>
    </div>

    <q-table :rows="rows" :columns="columns" row-key="EmployeeID" class="table">
      <template v-slot:body-cell-address="props">
        <q-td :props="props" class="address">
          <div class="address-content">
            {{ props.row.address }}
            <q-icon
              name="more_vert"
              size="20px"
              class="address-icon"
              @click="toggleActionDiv(props.row)"
            />
          </div>
          <div v-show="props.row.showAction" class="action-buttons">
            <q-btn
              label="Edit"
              @click="editEmployee(props.row)"
              color="primary"
            />
            <q-btn
              label="Delete"
              color="primary"
              @click="deleteEmployee(props.row)"
            />
          </div>
        </q-td>
      </template>
    </q-table>
  </div>
</template>
<style lang="scss" scope>
@import "./styles/table.scss";
</style>
<script src="./scripts/table.js"></script>
